<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/piglatinize">
      <label for="user_phrase">Enter your phrase: </label>
      <textarea name="user_phrase" id="user_phrase" cols="30" rows="10"></textarea>
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
</html>
